*{
    margin:0;
    padding:0;
}
body{
    margin:0px;
    padding:0px;
    /* background-image: url(../images/background_image_02.png); */
    background-color: rgb(247,195,228);
    font-family: "Nunito", sans-serif;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar{
    background-color: rgb(245,245,245);
}
.mainContainer{
  position: absolute;
  top:250px;
  justify-content: center;
  align-items: center;
  width:100%;
}
.containerDiv{
    width:80%;
    left:65px;
    border-radius: 4px;
    text-align: center;  
    position: relative;
    justify-content: center;
    margin:0 auto;
}
.nxtButton{
    position:relative;    
    top:0;    
    justify-content: center;
    text-align: center;
    align-items: center;
    left:55px;
    margin:0 auto;
}
.decisionQuestion{
    text-shadow: 2px 2px 4px rgba(000, 000, 000, 0.2);    
    font-size: 23px;
    transition-delay: 4s;
}
.tree ul{
     position: relative;
 }
.tree li{
    float:left;
    text-align:center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.tree li::before,.tree li::after{
    content:"";
    position:absolute;
    top:67px;
    right:50%;
    border-bottom: 1px solid green;
    width:80%;
    height:0px;    
}
.tree .createYesLi{
    position: absolute;
    right:90%;
    border:none;
}
.tree .createNoLi{
    right:-90%;
    border:none;
}
.tree .createUl li::after{
    right:auto;
    left:50%;
    border-left: 1px solid green;
}
.tree .createYesLi.last-child{
    padding-top:40px;
}
.tree ul::before{
    content:"";
    position: absolute;top:0;left:50%;
    border-left: 1px solid green;
    width:0;height: 20px;
}
.tree li span{
    border:1px solid #cccccc;
    padding:5px 10px;
    text-decoration: none;
    font-size:11px;
    border-radius : 5px;
    display: inline-block;
}
